/* log off box: */
border-radius: 2px;
/* Log Off text: */
font-family: AvenirNext-Medium;
font-size: 13.09px;
color: #FFFFFF;
letter-spacing: 0.5px;
line-height: 18px;
/* medifications box: */
border-radius: 2px;
/* Medifications: */
font-family: AvenirNext-Medium;
font-size: 13.09px;
color: #FFFFFF;
letter-spacing: 0.5px;
line-height: 18px;
/* reminders box: */
border-radius: 2px;
/* Reminders: */
font-family: AvenirNext-Medium;
font-size: 13.09px;
color: #FFFFFF;
letter-spacing: 0.5px;
line-height: 18px;
/* family tree box: */
border-radius: 2px;
/* Family: */
font-family: AvenirNext-Medium;
font-size: 13.09px;
color: #FFFFFF;
letter-spacing: 0.5px;
line-height: 18px;
/* month box: */
border-radius: 2px;
/* month text: */
font-family: AvenirNext-Medium;
font-size: 13.09px;
color: #FFFFFF;
letter-spacing: 0.5px;
line-height: 18px;
/* today box: */
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24), 0px 8px 8px 0px rgba(0,0,0,0.24);
border-radius: 2px;
/* Today: */
font-family: AvenirNext-Medium;
font-size: 13.09px;
color: #FFFFFF;
letter-spacing: 0.5px;
line-height: 18px;
/* space box: */
border-radius: 8px;
/* logo box: */
background: rgba(215,215,215,0.01);
border-radius: 8px;
/* Hi Alice, today is: */
font-family: AvenirNext-Regular;
font-size: 40px;
color: #FFFFFF;
line-height: 55px;
/* Today_date: */
background: rgba(215,215,215,0.00);
border-radius: 8px;
/* Duration: */
border: 1px solid #00ACC1;
border-radius: 8px;
/* Frequency: */
border: 1px solid #00ACC1;
border-radius: 8px;
/* Reminder text: */
border: 1px solid #00ACC1;
border-radius: 8px;
/* Completed: */
background: #FFFFFF;
box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
border-radius: 2px;
/* Notification: */
background: #FFFFFF;
box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);
border-radius: 2px;
/* Catergory icon: */
border: 1px solid #00ACC1;
/* Time: */
border: 1px solid #00ACC1;
border-radius: 8px;
/* Row outline: */
border-radius: 8px;
/* Select Background: */
background: #00ACC1;
border: 1px solid #979797;
box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 2px 0px 0px #FFFFFF;
border-radius: 3px;
/* Triangle: */
box-shadow: 0px 1px 0px 0px #FFFFFF;
/* Triangle: */
box-shadow: 0px 1px 0px 0px #FFFFFF;
/* Add reminder: */
font-family: AvenirNext-Regular;
font-size: 16.63px;
color: #FFFFFF;
line-height: 23px;